!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "NUME(ヌメ) | 数値記憶トレーニング用アプリケーション"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
    = analytics_init if Rails.env.production? && GoogleAnalytics.valid_tracker?

  %body


    #menu
      = link_to "トップ", root_path, class: "nav-brand"
      - unless user_signed_in?
        = link_to "ログイン", new_user_session_path
        = link_to "会員登録", new_user_registration_path
      - else
        = link_to "ログアウト", destroy_user_session_path, method: :delete

    #main
      %header
        #h-logo
          = link_to "NUME", root_path
        #h-open-menu
          %i.fa.fa-bars

      #container
        = yield

:coffee
  $ ->
    # プロパティー系
    $h_open_menu = $('#h-open-menu')
    $main = $('#main')

    ## イベント系
    $h_open_menu.click ->
      $main.toggleClass('open-menu')
